<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %><br>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> U2F Enrollment Status</h3>
                <p>
                    <%if (user.u2f.u2fPubKey != null) { %>
                        <strong>U2F Status </strong>: Enabled
                        <strong>Public Key</strong>: <%= user.u2f.u2fPubKey %><br>
                        <string>Key Handle</strong>: <%= user.u2f.u2fKeyHdl %>
                    <% } else { %>
                        <strong>U2F Status </strong>: Disabled
                        <a href="/u2f/register"><button class="btn btn-primary">Enroll</button></a>
                    <% } %>
                </p>
            </div>
        </div>


    </div>

</div>
</body>
</html>
