<!-- views/u2f-register.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://demo.yubico.com/js/u2f-api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> U2F Registration</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div id="alert_row" class="alert" style="display:none"></div>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                        <strong>publicKey</strong>: <%= user.local.publicKey %>
                        <string>keyHandle</strong>: <%= user.local.keyHandle %>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-key"></span> U2F</h3>
                <p>Press your key</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function register() {
        $.ajax({
            url: '/u2f/register/request',
            type: 'GET',
            success: function(req) {
                $('#alert_row').html('Press your key').addClass('alert-info').show();
                u2f.register(req.appId, [req], [], function(res) {
                    $.ajax({
                        url: '/u2f/register/challenge',
                        type: 'POST',
                        data: res,
                        success: function(data) {
                            if(res === "true") {
                                $('#alert_row').hide().attr('class', '').html('').addClass('alert alert-success').html('Successfully registered key').show();
                            } else {
                                $('#alert_row').hide().attr('class', '').html('').addClass('alert alert-danger').html(res).show();
                            }
                        }
                    })
                });
            }
        });
    }

    register();
</script>
</body>
</html>
